/* You can add global styles to this file, and also import other style files */

.h100 {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.w100 {
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.p5,
.pad-5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 10px;
}

.no-margin {
    margin: 0 !important;
}

body {
    background-image: linear-gradient(to right, #291210, #631412);
}