.grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.index-page .img-thumbnail {
    height: 1080px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
